<main>
    <div class="result-nav"><a href="{{sourceUrl}}"><i
                class="fa fa-chevron-circle-left"
            ></i>Wróć do wyszukiwania</a></div>
    <div class="result-container">
        <div class="result-image"><img
                src="{{prefixPath}}uploads/{{meal.image}}"
                alt="Zdjęcie posiłku o nazwie {{meal.title}}"
            /></div>
        <div class="result-details">
            <ul>
                <li><h3>{{meal.title}}</h3></li>
                <li style="opacity: .1;"><h4>Wyświetlono X razy</h4></li>
                <li style="opacity: .1;"><h4>Wybrano X razy</h4></li>
            </ul>
            <div>
                <p>{{meal.description}}</p>
            </div>
        </div>
        <div class="result-ingredients">
            <h3>Składniki</h3>
            <ul>
                {{#each ingredients as |ing|}}
                <li class="flex-center">
                    <img
                        class="icon"
                        src="../{{ing.icon.src}}"
                        alt="'{{ing.icon.name}}' ingredient image"
                        author="{{ing.icon.link}}"
                    ></img>
                    <span>{{ing.name}}</span>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
</main>