<section id="filters">
    <form action="" method="get">
        <div>
            <h2>Składniki</h2>
            <div class="category-container">
                {{#each filter.categorized as |cat|}}
                    <div class="category">
                        <h3>{{cat.category}}</h3>
                        <ul>
                            {{#each this.ingredients as |ing|}}
                                <li>
                                    <input type="checkbox" name="ings[]" data-id="{{ing.icon.name}}" value="{{ing.icon.name}}" {{ tryToCheck ing.icon.name}} />
                                    <img
                                        class="icon"
                                        src="{{ing.icon.src}}"
                                        alt="'{{ing.icon.name}}' ingredient image"
                                        author="{{ing.icon.link}}"
                                    ></img>
                                    <label>{{ing.name}}</label>
                                </li>
                            {{/each}}
                        </ul>
                    </div>
                {{/each}}
            </div>
        </div>
        <div>
            <h2>Typy</h2>
            <div class="category-container">
                <div class="category">
                    <h3>Kategoria</h3>
                    <ul>
                        <li><input type="checkbox" /><label>Marchew</label></li>
                        <li><input type="checkbox" /><label>Marchew</label></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="flex-center">
            <button type="submit">Wyszukaj</button>
        </div>
    </form>
</section>

<main>
    <section class="result-box">
        <div class="result-container flex-center">
            <div class="result-image">
                <img src="img/berries.jpg" alt="img-title" />
            </div>
            <div class="result-label">
                <div class="result-description">
                    <div class="result-title">Tytuł</div>
                    <div class="result-text">Opis tego czegoś</div>
                </div>
                <div class="result-button flex-center">
                    <button>Zobacz</button>
                </div>
            </div>
        </div>
        <div class="result-container flex-center">
            <div class="result-image">
                <img src="img/berries.jpg" alt="img-title" />
            </div>
            <div class="result-label">
                <div class="result-description">
                    <div class="result-title">Tytuł</div>
                    <div class="result-text">Opis tego czegoś</div>
                </div>
                <div class="result-button flex-center">
                    <button>Zobacz</button>
                </div>
            </div>
        </div>
        <div class="result-container flex-center">
            <div class="result-image">
                <img src="img/berries.jpg" alt="img-title" />
            </div>
            <div class="result-label">
                <div class="result-description">
                    <div class="result-title">Tytuł</div>
                    <div class="result-text">Opis tego czegoś</div>
                </div>
                <div class="result-button flex-center">
                    <button>Zobacz</button>
                </div>
            </div>
        </div>
        <div class="result-container flex-center">
            <div class="result-image">
                <img src="img/berries.jpg" alt="img-title" />
            </div>
            <div class="result-label">
                <div class="result-description">
                    <div class="result-title">Tytuł</div>
                    <div class="result-text">Opis tego czegoś</div>
                </div>
                <div class="result-button flex-center">
                    <button>Zobacz</button>
                </div>
            </div>
        </div>
        <div class="result-container flex-center">
            <div class="result-image">
                <img src="img/berries.jpg" alt="img-title" />
            </div>
            <div class="result-label">
                <div class="result-description">
                    <div class="result-title">Tytuł</div>
                    <div class="result-text">Opis tego czegoś</div>
                </div>
                <div class="result-button flex-center">
                    <button>Zobacz</button>
                </div>
            </div>
        </div>
        <div class="result-container flex-center">
            <div class="result-image">
                <img src="img/berries.jpg" alt="img-title" />
            </div>
            <div class="result-label">
                <div class="result-description">
                    <div class="result-title">Tytuł</div>
                    <div class="result-text">Opis tego czegoś</div>
                </div>
                <div class="result-button flex-center">
                    <button>Zobacz</button>
                </div>
            </div>
        </div>
    </section>
</main>