<section id="filters">
    <form action="" method="get">
        <div id="ingredients-container">
            <h2>Składniki</h2>
            <div class="category-container">
                {{#each filter.categorized as |cat|}}
                    <div class="category">
                        <h3>{{cat.category}}</h3>
                        <ul>
                            {{#each this.ingredients as |ing|}}
                                <li>
                                    <input type="checkbox" id="{{ing.icon.name}}" name="ings[]" data-id="{{ing.icon.name}}" value="{{ing.icon.name}}" {{ tryToCheck ing.icon.name}} />
                                    <label for="{{ing.icon.name}}" class="flex-center">
                                        <img
                                            class="icon"
                                            src="{{ing.icon.src}}"
                                            alt="'{{ing.icon.name}}' ingredient image"
                                            author="{{ing.icon.link}}"
                                        ></img>
                                        <p>{{ing.name}}</p>
                                    </label>
                                </li>
                            {{/each}}
                        </ul>
                    </div>
                {{/each}}
            </div>
        </div>
        <div>
            <h2>Typy</h2>
            <div class="meal-types-container">
                <ul>
                    {{#each mealTypes as |type|}}
                    <li><input type="checkbox" id="{{type.k}}" name="types[]" data-type-k="{{type.k}}" data-type-v="{{type.v}}" value="{{type.k}}" {{ tryToCheckType type.k }} /><label for="{{type.k}}"><p>{{type.v}}</p></label></li>
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="flex-center">
            <button type="submit" onClick="setHash('results')">Wyszukaj</button>
        </div>
    </form>
</section>

<main id="results">
    <section class="result-box">
        {{#each meals as |meal| }}
        <div class="result-container flex-center">
            <div class="result-image">
                <a class="img-link" href="/result/{{meal._id}}?{{sourceUrl}}" target="_blank">
                    {{#if meal.image}}
                    <img src="uploads/{{meal.image}}" alt="Zdjęcie posiłku o nazwie {{meal.title}}" />
                    {{else}}
                    <img src="icons/no-image.png" alt="Brak zdjęcia posiłku o nazwie {{meal.title}}" />
                    {{/if}}
                </a>
            </div>
            <div class="result-label">
                <div class="result-description">
                    <div class="result-title">{{meal.title}}</div>
                    <div class="result-text">{{meal.description}}</div>
                </div>
                <div class="result-button flex-center">
                    <button onClick="move('/result/{{meal._id}}?{{sourceUrl}}')">Zobacz</button>
                </div>
            </div>
        </div>
        {{/each}}
    </section>
    <section id="adder">
        <div class="flex-center"><p>Brakuje szukanego posiłku? Dodaj go!</p></div>
        <div class="flex-center"><button onClick="move('/meals/add')">Dodaj</button></div>
    </section>
</main>